{#
<!--
#   Copyright © 2021,2022 IsardVDI S.L.
#
#   This file is part of DD
#
#   DD is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   DD is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
#   FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
#   details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with DD. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
-->
#}
<div id="navbar-menu-apps">
    <div id="menu-apps-btn">
        <div id="dropdownMenuAppsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
                <path d="M33.95 24.1q-.3 0-.55-.1-.25-.1-.5-.35l-8.55-8.55q-.25-.25-.35-.5-.1-.25-.1-.55 0-.3.1-.55.1-.25.35-.5l8.55-8.55q.25-.25.5-.35.25-.1.55-.1.3 0 .55.1.25.1.5.35L43.55 13q.25.25.35.5.1.25.1.55 0 .3-.1.55-.1.25-.35.5L35 23.65q-.25.25-.5.35-.25.1-.55.1Zm-26.45-3q-.65 0-1.075-.425Q6 20.25 6 19.6V7.55q0-.65.425-1.075Q6.85 6.05 7.5 6.05h12.05q.65 0 1.075.425.425.425.425 1.075V19.6q0 .65-.425 1.075-.425.425-1.075.425ZM28.4 42q-.65 0-1.075-.425-.425-.425-.425-1.075V28.45q0-.65.425-1.075.425-.425 1.075-.425h12.05q.65 0 1.075.425.425.425.425 1.075V40.5q0 .65-.425 1.075Q41.1 42 40.45 42ZM7.5 42q-.65 0-1.075-.425Q6 41.15 6 40.5V28.45q0-.65.425-1.075.425-.425 1.075-.425h12.05q.65 0 1.075.425.425.425.425 1.075V40.5q0 .65-.425 1.075Q20.2 42 19.55 42Z"/>
            </svg>
        </div>
        <div id="dropdownMenuApps" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
            <ul id="app-aapps">
                {% for item in data.apps_internal %}
                <li class="app {{ item.shorname }}">
                    <a href="{{ item.href }}" class="app-link" target="_blank">
                        <div class="icon {{ item.shorname }}">
                            <i class="{{ item.icon }}" aria-hidden="true"></i>
                        </div>
                        <div class="text">{{ item.name }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>

            <ul id="app-external" class="external-links">
                {% for item in data.apps_external %}
                <li class="app {{ item.shorname }}">
                    <a href="{{ item.href }}" class="app-link" target="_blank">
                        <div class="icon {{ item.shorname }}">
                            <i class="{{ item.icon }}" aria-hidden="true"></i>
                        </div>
                        <div class="text">{{ item.name }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>